/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  position: relative;
}
.wrapper {
  /* background-image: url(../images/mp2png.png); */
  background-color: #212121;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-title,
.sub-title {
  margin-top: 20px;
  font-size: 28px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 1.3;
}

.sub-title {
  font-size: 18px;
  margin-top: 30px;
}
.info {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.calculator {
  backdrop-filter: blur(3px);
  padding: 25px 10px;
  margin-bottom: 50px;
}
.input-row label {
  font-weight: bold;
  color: white;
  min-width: 130px;
  display: flex;
  align-items: center;
}
.input-row .label-radio {
  min-width: 0;
  font-size: 14px;
  margin-right: 10px;
  margin-left: 3px;
}
.input-row {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}
input {
  accent-color: #f38900;
}
.btn-calculator,
.btn-back,
.btn-compact,
.btn-extend {
  position: fixed;
  bottom: 7%;
  right: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: rgb(213, 128, 0);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}
.btn-back,
.btn-compact,
.btn-extend {
  position: static;
  display: none;
  margin: 10px 15px;
}
#calculator-success {
  backdrop-filter: blur(5px);
  padding: 5px;
}
.info-row {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.info-row > * {
  width: 60%;
  padding: 5px 10px;
  border: solid white 1px;
}
.info-row .name {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input[type="number"],
input[type="string"] {
  width: 100%;
  height: 20px;
}
.radio-box {
  display: flex;
  flex-direction: column;
}
.radio-input-box {
  display: flex;
  margin-bottom: 5px;
}
select {
  width: 100%;
}
.btn-box-success {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#calculator-success.active .compact {
  display: none;
}
#calculator-success.active .display-compact {
  display: inline;
}
#calculator-success .display-compact {
  display: none;
}
.selectize-control {
  width: 100%;
}
